@font-face {
    font-family: "Playpen Sans", cursive;
    src: 
      url("https://fonts.googleapis.com/css2?family=Mynerve&family=Play:wght@400;700&display=swap") format("truetype");
    font-optical-sizing: auto;
    font-style: normal;
  }

  .playpen-san-content{
    font-family: "Playpen Sans", cursive;
  }