circle {
  stroke-dashoffset: 0;
  stroke-width: 18%;
  fill: none;
}

.bg {
  stroke: #bca37f;
  opacity: 0.3;
}

#progress .indicator {
  stroke: #bca37f;
}

#progress {
  transform: rotate(-90deg);
}
