ul {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 50px;
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 18%;
  fill: none;
}

.bg {
  stroke: #BCA37F;
  opacity: 0.3;
}

#progress .indicator {
  stroke: #BCA37F;
}

#progress {
  transform: rotate(-90deg);
}
